
:root{
    --cor-de-fundo: #DC052D;
    --branco-principal: #FFFFFF;
    --fundo-degrade: #0066B2,#DC052D;
}

header{
    display: flex;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 15px;
    text-align: justify; 
}

.cabecalho__logo{
    width: 10%;
    padding: 1em;
}

.cabecalho__texto{
    font-size: 15px;
}

.tema{
    background: linear-gradient(#DC052D,#0066B2);
    display: inline-flex;    
}

.imagem__1{
    margin: 2em;
}

.imagem__2{
    width: 50%;
    margin: 5em;  
}

.texto{
    display: inline-block;
    text-align: center;
    margin: 1em;
}

.tema__titulo{
    color: var(--branco-principal);
    font-size: 40px;
}

.tema__descricao{
    color: var(--branco-principal);
    font-size: 30px;
}


@media screen and (min-width: 820px) {
    
}

@media screen and (min-width: 1024px) {
   
}